html,body {
    margin: 0;

}

::-webkit-scrollbar {
    display: none;
}

ul {
    text-align: center;
    background-color: black;
    padding: 0px;
    margin: 0px;
}

li {
    display: block;
    background-color: black;
    padding: 10px;
    padding-left: 20px;
}

li a {
    color: grey;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;

}

nav {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

nav a:hover {
    color: ghostwhite;

}

input {
    color: grey;
    font-family: 'Montserrat', sans-serif;
    border:5px solid #000000;
    border-radius:4px;
    background-color: black;
    outline-color: black;
    float:left;

}

div.background {
    display: grid;
    grid-auto-rows: minmax(1005px, auto);
    background-image: url("https://images6.alphacoders.com/405/405481.jpg");
    background-repeat:no-repeat;
    background-position:center;
}

div.title {
    text-decoration: none;
    text-align: center;
    margin-top: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    min-width: 0px;
    min-height: 0px;
}

div.title a {
    text-decoration: none;
    color: black;
}

div.title a:hover {
    color: #28354c;
}

div.lol {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#p {
    font-size: 20px !important;
}

div.title div.boxes {
    box-sizing: border-box;
    font-size: 24px;
    max-width: 100%;
    text-align: center;

}

div.box1 {
    margin: 0 auto;
    max-width: 100%;
    background: rgba(255,255,255,1);
    width: 1000px;
    padding: 0px;
    height: 900px;

}

div.box1 section {
    font-size: 40px;
    padding: 30px;
}

@media screen and (min-width: 600px) {
    li {
        display: inline-block;
        border: none;

    }
    input {
        display:none;
    }
}

@media screen and (max-width: 599px) {
    #search {
        margin-left: 130px;
    }

    nav li {
        text-align: left;
    }

    nav li a {
        margin-left: 5px;
    }
}

div.box1 p {
    font-size: 14px;
    font-weight: normal;
    margin-left: 200px;
    margin-right: 200px;
    text-align: left;
}

div.cool {
    color: grey;
    text-decoration: none;
    text-align: left;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 14px;
    font-weight: lighter;
    color: grey;
}

div.cool2 {
    float:right;
    color: grey;
    text-decoration: none;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
}

div.cool3 {
    width: 80px;
    color: grey;
    text-decoration: none;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}

hr {
    color: grey;
    margin-left: 200px;
    margin-right: 200px;
}



div.box1 img {
    margin-top: 20px;
    width: 60%;
    margin-bottom: 20px ;
}

div.title div.block {
    text-decoration: none;
    color: grey;
    position: absolute;
    text-align: center;
    background-color: white;
    height: 50px;
    width: 40px;
    top: 550px;
}

div.title div.block2 {
    overflow:auto;
    float:right;
    text-align: center;
    background-color: white;
    height: 50px;
    width: 40px;
    margin-top: 368px;
}

div.block:hover {
    text-decoration: none;
}

div.block2:hover {
    text-decoration: none;
}

#within {
    position: relative;
    top: 35px;
    text-align: center;
    margin: 0;
    font-weight: bold;
    color: grey;
    padding: 10px;
}

@media screen and (max-width: 900px) {
    div.box1 img {
        min-width: 320px;
    }

    div.box1 p {
        font-size: 14px;
        margin-left: 110px;
        margin-right: 110px;
    }

    hr {
        margin-left: 110px;
        margin-right: 110px;
    }

    div.cool {
        margin-left: 110px;
        margin-right: 110px;
    }

    div.cool2 {
        margin-left: 110px;
        margin-right: 110px;
    }

    div.cool3 {
        margin-left: 110px;
        margin-right: 110px;
    }

    div.block {
        display: none;
    }

    div.block2 {
        display: none;
    }
}


@media screen and (max-width: 600px) {
    div.box1 img {
        min-width: 350px;
    }

    div.box1 p {
        font-size: 14px;
        margin-left: 70px;
        margin-right: 70px;
    }

    hr {
        margin-left: 70px;
        margin-right: 70px;
    }

    div.cool {
        margin-left: 70px;
        margin-right: 70px;
    }

    div.cool2 {
        margin-left: 70px;
        margin-right: 70px;
    }

    div.cool3 {
        margin-left: 70px;
        margin-right: 70px;
    }
}


@media screen and (max-width: 450px) {
    div.box1 img {
        min-width: 315px;
    }

    div.box1 p {
        font-size: 12px;
        margin-left: 35px;
        margin-right: 35px;
    }

    hr {
        margin-left: 35px;
        margin-right: 35px;
    }

    div.cool {
        margin-left: 35px;
        margin-right: 35px;
    }

    div.cool2 {
        margin-left: 35px;
        margin-right: 35px;
    }

    div.cool3 {
        margin-left: 35px;
        margin-right: 35px;
    }
}

@media screen and (min-width: 900px) {
    div.cool2 {
        display: none;
    }

    div.cool3 {
        display: none;
    }

    hr {
        display: none;
    }
}

